.container{
    padding: 0 2rem;
    border-radius: 15px;
    overflow: hidden;
}

.container .bar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;   
}

.container .bar h2 {
    font-size: 1.5em;
    flex-shrink: 1;
    max-width: calc(100% - 3rem);
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container .bar button{
    width: 3rem;
    height: 3rem;
    font-size: 1em;
    background-color: var(--background-color-1);
    border-radius: 50%;
    margin-right: -1rem;
    margin-left: 1rem;
    flex-shrink: 0;
    padding: 3px;
}

.container .bar button p {
    transition: transform 0.25s ease-out;
}

.rotate p{
    transform: rotate(45deg);
}

.content{
    transition: height 0.5s ease, opacity 0.25s ease;
    opacity:0;
}

.content > div {
    display:flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 -4rem;
    padding: 1rem 2rem;
    transition: margin 0.25s ease-out;
}

@media screen and (max-width: 44em) {
    .expanded{
        border-radius: 0;
        border-left: 0;
        border-right: 0;
    }
}

.expanded{
    margin: 0 -2rem;
    color:black;
}

.expanded .content{
    opacity: 1;
}

.expanded .content > div {
    margin: 0 -2rem;

}