.container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:20px;
    overflow: visible;
}

.container .faded {
    text-decoration: none;
    opacity: 0.3;
    transition: opacity 0.25s ease-out;
}

.container a:hover {
    opacity: 1;
    color: var(--foreground-color-1);
}

.container select{
    appearance: none;
    border-radius: 5px;
    padding: 0 1em;
    border: 1px solid rgba(0,0,0,0.1);
    opacity: 0.3;
    transition: opacity 0.25s ease-out;
    color: var(--foreground-color-1);
    background-color:transparent;
}

.container select:hover{
    opacity: 1;
}