
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
  --accent-color: #FFCE58;
  --accent-shadow: #FFCE58;
  --shadow:#00000050;
  --background-color-1: white;
  --background-color-2: rgb(245,245,245);
  --foreground-color-1: #000;
  --foreground-color-2: #222;
  --main-padding: 20px calc(50vw - 450px);
  --transparent-color-1: rgba(0,0,0,0.1);
  --transparent-color-2: rgba(0,0,0,0.3);
}

@media (prefers-color-scheme: dark) {
  :root{
    --accent-shadow: #FFCE5890;
    --background-color-1: #111;
    --background-color-2: #222;
    --foreground-color-1: white;
    --foreground-color-2: #f2f2f2;
    --transparent-color-1: rgba(255,255,255,0.15);
    --transparent-color-2: rgba(214, 183, 183, 0.4);
  }
      
}

html, body, #__next, #__next > div{
    padding: 0;
    margin: 0;
    font-family: "IBM Plex Sans", "sans-serif";
    height: 100%;
    width: 100%;
    color: var(--foreground-color-1);
    --casl: "CASL" 0.7;
    font-variation-settings: var(--casl);
    background-color: var(--background-color-1);
    -webkit-text-size-adjust: 100%;
    font-size: 16px;
    line-height: 1.6;
}

#__next > div{
    display: flex;
    flex-direction: column;
    padding-left: calc(50% - 20em);
    padding-right: calc(50% - 20em);
    padding-top: 30px;
    padding-bottom: 80px;
    gap: 1.5em;
}

@media screen and (max-width: 44em) {
  #__next > div{
    padding-left: 2em;
    padding-right: 2em;
  }
}

*{
    box-sizing: border-box;
    font-variation-settings: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-block-start: 0;
    margin-block-end: 0;
}  

h1,h2,h3 {
  font-family: 'IBM Plex Serif';
  margin: 1rem 0 1rem 0
}

h1{
  font-size: 3em;
  margin: 2rem 0 2rem 0;
  line-height: 1.2em;
}


h2{
  font-size: 2em;
}


h3{
  font-size: 1.5em;
}

button, .accent {
  background-color: var(--accent-color);
  color: var(--foreground-color-1);
  border: 3px solid rgba(0,0,0,0.1);
  transition: all 0.25s ease-out;
  box-shadow: 1px 1px 4px var(--accent-shadow);
}

.neutral {
  background-color: var(--background-color-2);
  color: var(--foreground-color-1);
  border: 3px solid rgba(0,0,0,0.1);
  transition: all 0.25s ease-out;
  box-shadow: 1px 1px 4px var(--shadow);
}

button:hover {
  transform: scale(1.1);
}

button:active {
  transform: scale(0.9);
  opacity: 0.5;
}

a {
  color: var(--foreground-color);
  text-underline-position: under;
  transition: color 0.25s;
}

a:hover{
  color: var(--accent-color);
}

p::selection, h1::selection,  h2::selection, h3::selection{
  color: var(--background-color-1);
  background-color: var(--foreground-color-1);
}

a::selection {
  background-color: var(--accent-color);
}