.media button {
    width: 2.5em;
    height: 2.5em;
    background-color: var(--accent-color);
    border-radius: 50%;
    border: 3px solid rgba(0,0,0,0.1);
    margin: 0.5em;
}

.media {
  margin-left: -0.5em;
  margin-right: -0.5em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}